{% extends 'base.html' %}
{% block content %}
    <style>
        h2 {
            font-size: 1.8em;
            color: #333;
            text-align: center;
            margin-bottom: 20px;
        }
        ul {
            list-style-type: none;
            padding: 0;
            max-width: 800px;
            margin: 0 auto;
        }
        li {
            background-color: #fff;
            margin: 10px 0;
            padding: 15px;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: background-color 0.3s, box-shadow 0.3s;
            cursor: pointer;
        }
        li:hover {
            background-color: #f1f1f1;
            box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
        }
        li a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            display: block;
        }
        li a:hover {
            text-decoration: none;
        }
    </style>

    <h2>目录</h2>
    <ul>
        {% for class_dir in class_dirs %}
        <li onclick="window.location.href='{{ url_for('classify', class_name=class_dir) }}'">
            <a href="{{ url_for('classify', class_name=class_dir) }}">{{ class_dir }}</a>
        </li>
        {% endfor %}
    </ul>
{% endblock %}